africastalking==1.2.4
aiohttp==3.8.3
aiosignal==1.3.1
alembic==1.9.2
async-timeout==4.0.2
attrs==22.2.0
bleach==6.0.0
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
contextlib2==21.6.0
cryptography==39.0.0
dnspython==2.3.0
dominate==2.7.0
email-validator==1.3.0
Flask==2.2.2
Flask-Bootstrap==3.3.7.1
flask-googlemaps==0.4.1
Flask-Login==0.6.2
Flask-Migrate==4.0.2
Flask-Moment==1.0.5
Flask-PageDown==0.4.0
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.1.1
frozenlist==1.3.3
GeoAlchemy2==0.13.1
ghp-import==2.1.0
greenlet==2.0.1
gunicorn==20.1.0
htmlmin==0.1.12
idna==3.4
importlib-metadata==6.0.0
importlib-resources==5.10.2
ipinfo==4.4.2
itsdangerous==2.1.2
Jinja2==3.1.2
jsmin==3.0.1
jwt==1.3.1
Mako==1.2.4
Markdown==3.3.7
MarkupSafe==2.1.2
mergedeep==1.3.4
mkdocs==1.4.2
mkdocs-material==5.5.14
mkdocs-material-extensions==1.1.1
mkdocs-minify-plugin==0.3.0
multidict==6.0.4
overpy==0.6
packaging==23.0
phonenumbers==8.13.4
pycparser==2.21
Pygments==2.14.0
pymdown-extensions==9.9.2
python-dateutil==2.8.2
python-dotenv==0.21.0
PyYAML==6.0
pyyaml_env_tag==0.1
requests==2.28.2
schema==0.7.5
six==1.16.0
SQLAlchemy==1.4.46
stripe==5.0.0
urllib3==1.26.14
visitor==0.1.3
watchdog==2.2.1
webencodings==0.5.1
Werkzeug==2.2.2
WTForms==3.0.1
yarl==1.8.2
zipp==3.11.0
