{% extends 'base.html' %}

{% if current_user.is_authenticated %}
    {% block current_user_content %}
        <h1>{{ title }}</h1>
        {% if current_user.type == 'admin' %}
            <p>
                <a href="{{ url_for('dashboard_admin') }}">Return to the dashboard</a>.
            </p>
        {% endif %}
        {% if current_user.type == 'vendor' %}
            <p>
                <a href="{{ url_for('dashboard_vendor') }}">Return to the dashboard</a>.
            </p>
        {% endif %}
        {% if current_user.type == 'customer' %}
            <p>
                <a href="{{ url_for('dashboard_customer') }}">Return to the dashboard</a>.
            </p>
        {% endif %}
    {% endblock %}
{% endif %}
{% if current_user.is_anonymous %}
    {% block app_content %}
        <div class="row">
            <div class="col-md-12">
                <h1>{{ title }}</h1>
                <p>
                    <a href="{{ url_for('shop') }}">Return to the home page</a>.
                </p>
            </div>  
        </div>
    {% endblock %}
{% endif %}