{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- Only seen by customer -->
{% if current_user.is_authenticated %}
    {% if current_user.type == 'customer' %}
        {% block current_user_content %}
            <div class="row">
                <div class="col-md-6">
                    <!-- Flash message -->
                    {% include '_flash_message.html' %}
                    <!-- End of flash message -->

                    <h1>{{ title }} ({{ num_cart_items }})</h1>
                </div>   
                <div class="col-md-6">
                    <!-- Empty col -->
                </div>     
            </div>
            {% if num_cart_items > 0 %}
                <div class="row pb-4 mb-4">
                    {% for product in cart_items %}
                        
                            <div class="col-lg-12 col-md-12 mb-2 mb-lg-0">
                                <!-- Card-->
                                <div class="card rounded shadow-sm border-0 mt-4 pt-4 pr-4 pl-4">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}" class="img-fluid d-block mx-auto mb-3">
                                        </div>
                                        <div class="col-md-8">
                                            <h5 class="text-dark">{{ product.name }}</h5>
                                            <p class="text-muted ">{{ product.description }}</p>
                                            <p>For {{ product.quantity }}: {{ product.currency }} {{ product.cost }}</p>
                                            <!-- Buy -->                                        
                                            {% if product.payment_status == False %}
                                                {% if product.customer_id == None %}
                                                    <a href="{{ url_for('dashboard_customer_buy_product', id=product.id) }}" class="btn btn-dark">Buy</a>
                                                    
                                                    <!-- Take action -->
                                                    <div class="mt-4">
                                                        <p>
                                                            <a href="{{ url_for('dashboard_customer_cart_items_delete', id=product.id) }}" class="delete">Delete</a>
                                                        </p>
                                                    </div>
                                                    <!-- End -->
                                                    
                                                {% endif %}
                                                <!-- Checkout -->
                                                {% if product.customer_id == current_user.id %}
                                                    <a href="{{ url_for('lipa_na_mpesa', id=product.id) }}" class="btn allowed">Checkout (Mpesa)</a><br>
                                                    <small class="text-muted">You will receive a prompt on your phone to complete the payment. Kindly input your Mpesa PIN to complete the transaction.</small>
                                                {% endif %}  
                                            {% endif %}   
                                            {% if product.payment_status == True %}                                                                          
                                                <a href="{{ url_for('dashboard_customer') }}" class="btn btn-success">Paid</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!-- <hr> -->
                                    <!-- Start of map -->
                                    <!-- <div class="row"> -->
                                        <!-- Map showing shops near the customer -->
                                        <!-- <div class="col-md-12">
                                            <h3>Shops near you</h3>
                                            <div class="map-responsive">
                                                <div id="map">{{markers|safe}}</div>
                                            </div>`                               
                                        </div> -->
                                    <!-- </div> -->
                                    <!-- End of map -->

                                </div>
                            </div>
                        
                    {% endfor %}            
                </div>
            {% endif %}            

            <!-- If there are no items in the cart -->
            {% if num_cart_items < 1%}
            <div class="row pb-4 mb-4">
                <div class="col-lg-12 col-md-12 mb-2 mb-lg-0">
                    <p>
                        You have no items in the cart. 
                        To continue shopping, <a href="{{ url_for('logout') }}">logout</a> ,
                        and add some.
                    </p>   
                </div>                    
            </div>
            {% endif %}
        {% endblock %}
    {% endif %}
{% endif %}
<!-- End of authenticated user -->

{% if current_user.type != 'customer' %}
    <p>You do not have access to this page.</p>
   {% if current_user.type == 'vendor' %}
    <p>
        <a href="{{ url_for('dashboard_vendor') }}">Return to your dashboard</a>.
    </p>
   {% endif %}
   {% if current_user.type == 'admin' %}
    <p>
        <a href="{{ url_for('dashboard_admin') }}">Return to your dashboard</a>.
    </p>
   {% endif %}
{% endif %}