{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- Only seen by admin -->
{% if current_user.type == 'customer' %}
    {% block current_user_content %}
        <div class="row">
            <div class="col-md-6">
                <!-- Flash message -->
                {% include '_flash_message.html' %}
                <!-- End of flash message -->
    
                <h1>{{ title }}</h1>
    
                <p>
                    <div class="my-form">
                        form will go here
                    </div>
                </p>
            </div>   
            <div class="col-md-6">
                <!-- Empty col -->
            </div>     
        </div>
    {% endblock %}
{% endif %}
<!-- End of admin -->

{% if current_user.type != 'customer' %}
    <p>You do not have access to this page.</p>
   {% if current_user.type == 'vendor' %}
    <p>
        <a href="{{ url_for('dashboard_vendor') }}">Return to your dashboard</a>.
    </p>
   {% endif %}
   {% if current_user.type == 'admin' %}
    <p>
        <a href="{{ url_for('dashboard_admin') }}">Return to your dashboard</a>.
    </p>
   {% endif %}
{% endif %}