{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- Only seen by admin -->
{% if current_user.type == 'admin' %}
    {% block current_user_content %}
        <div class="row">
            <div class="col-md-6">
                <!-- Flash message -->
                {% include '_flash_message.html' %}
                <!-- End of flash message -->
    
                <h1>Vendor Registration</h1>
    
                <p>
                    <div class="my-form">
                        {{ wtf.quick_form(form) }}
                    </div>
                </p>
            </div>   
            <div class="col-md-6">
                <h1>All Vendors</h1>
                <!-- All vendors -->
                <div class="table-responsive mt-3">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Avatar</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Date Registered</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vendor in vendors %}
                                <tr>
                                    <td> {{ vendor.id }} </td>
                                    <td> <img src="{{ vendor.avatar(36) }}" alt=""> </td>
                                    <td> {{ vendor.username }} </td>
                                    <td> {{ vendor.email }} </td>
                                    <td> {{ vendor.phone }} </td>
                                    <td> {{ moment(vendor.registered_at).format('LLL') }} </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>     
        </div>
    {% endblock %}
{% endif %}
<!-- End of admin -->

{% if current_user.type != 'admin' %}
    <p>You do not have access to this page.</p>
   {% if current_user.type == 'vendor' %}
    <p>
        <a href="{{ url_for('dashboard_vendor') }}">Return to your dashboard</a>.
    </p>
   {% endif %}
   {% if current_user.type == 'customer' %}
    <p>
        <a href="{{ url_for('dashboard_customer') }}">Return to your dashboard</a>.
    </p>
   {% endif %}
{% endif %}